name: Run Cypress Tests

on:
  schedule:
    - cron: 06 * * * *  # Runs the job every hour at the 0th minute
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'  
      - name: E2E on Chrome
        uses: cypress-io/github-action@v6
        with:
          start: npm start
          config-file: cypress.config.js
          
        
    
